[Unit]
Description=Proxy Load Distributor
After=network.target

[Service]
SyslogIdentifier=proxy-loadbalancer
User=loadbalancer
Group=loadbalancer
WorkingDirectory=/srv/loadbalancer/proxy-loadbalancer/proxy-skeleton
ExecStart=/srv/loadbalancer/proxy-loadbalancer/venv/bin/python -m app
Restart=always

[Install]
WantedBy=multi-user.target
