[Unit]
Description=Proxy Load Balancer
After=network.target

[Service]
SyslogIdentifier=proxy-loadbalancer
User=loadbalancer
Group=loadbalancer
ExecStart=/srv/loadbalancer/proxy-loadbalancer -d --config /etc/proxy-loadbalancer/config.yml
Restart=always

[Install]
WantedBy=multi-user.target
