# The address of the service used by the IP address of each proxy.
IP_CHECKER = 'http://[your IP or domain name]:5000'

# How many threads to use when checking proxy health.
MAX_PROXY_CHECKERS = 50

PROXY_POOL = [
    "127.0.0.1:3128",
    "[other server]:3128",
]

# Your login for SmartProxy. Ignore if you aren't using the service.
SMARTPROXY_USER = 'example'
SMARTPROXY_PASS = 'password'

# Some domains just don't work through SmartProxy.
BYPASS_SMARTPROXY_DOMAINS = [
    'files.catbox.moe',
    'twitter.com'
]

# The domains that SmartProxy gives you to connect to their service. Leave the array empty to disable this feature.
SMARTPROXY_POOL = [
    # "dc.smartproxy.com:10001",
    # ...
]
