# The address of the service used by the IP address of each proxy.
IP_CHECKER = 'http://[your IP or domain name]:5000'

# How many threads to use when checking proxy health.
MAX_PROXY_CHECKERS = 50

PROXY_POOL = [
    "127.0.0.1:3128",
    "[other server]:3128",
]

# Your login for SmartProxy. Ignore if you aren't using the service.
SMARTPROXY_USER = 'example'
SMARTPROXY_PASS = 'password'

# Fix the 503 error on some SmartProxy hosts.
# TODO: remove when fixed.
SMARTPROXY_BV3HI_FIX = [
    'https://files.catbox.moe/c8p1q6.png'
]

# Some domains just don't work through SmartProxy. Domains in this list are routed though
# your proxies, not SmartProxy.
BYPASS_SMARTPROXY_DOMAINS = [
    'twitter.com'
]

# The domains that SmartProxy gives you to connect to their service.
# Leave the array empty to disable this feature.
SMARTPROXY_POOL = [
    # "dc.smartproxy.com:10001",
    # ...
]
